
<section id="contacto" >
      <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
      
        <h2 class="fw-bold mt-2">Contáctame</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo facilis magnam corrupti ducimus dicta obcaecati? Quae nemo neque incidunt atque, veritatis adipisci minus ea delectus asperiores voluptatum enim nostrum iusto!</p>
        
        <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Correo Electrónico">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Escribe aquí tu mensaje" rows="3" ></textarea>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button">Enviar</button>
            
          </div>
        </div>
      </div>
    </div>
     
    </section>

